body{
	color: white;
}
.navbar, footer{
	background-color:#192428;
}
.penghalang{
	height: 300px;
}
#hello, #skill, #contact {
	background-color:#2d383c;
}
#about, #projects {
	background-color:#414c50;
}
.card{
	background-color:#2d383c;
}
.sosial-media{
	letter-spacing: 20px;
}
section{
	padding-top: 6rem;
}
.card{
	border: 4px solid #2d383c;
}
.html-color{
	color: #FF5733;
}
.boostrap-color{
	color:#9147fe;
}
.css-color{
	color: skyblue;
}
.js-color{
	color: #F0DB4F;
}
.git-color {
	color: #F1502F;
}