body{
	color: white;
}
.navbar,footer, .btn{
	background-color:#192428;
}
.penghalang{
	height: 300px;
}
#about {
	background-color:#2d383c;
}
#skill {
	background-color:#414c50;
}
#projects{
	background-color:#2d383c;
}
.card{
	background-color:#414c50;
}
#contact{
	background-color:#414c50;
}
.sosial-media{
	letter-spacing: 20px;
}
footer{
	box-shadow: 0 -10px 10px #888888;
}
section{
	padding-top: 6rem;
}
.card{
	border: 1px solid #414c50;
}
.html-color{
	color: #FF5733;
}
.boostrap-color{
	color:#9147fe;
}
.css-color{
	color: skyblue;
}
.js-color{
	color: #F0DB4F;
}